ASSIGNMENT

Create a function that takes a list of strings and integers, and filters out the list so that it
returns a list of integers only.

In [ ]:
def integer(lst):
  temp=list()
  for i in range(len(lst)):
    if(type(lst[i])== int):
      temp.append(lst[i])
  return temp

integer([1,2,3,"sho",'s','f'])

Given a list of numbers, create a function which returns the list but with each element&#39;s
index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the
number at index 1, etc...

In [ ]:
def replace(lst):
  for i in range(len(lst)):
    lst[i]=lst[i]+i
  return lst

replace([1,2,3,4,5])

Create a function that takes the height and radius of a cone as arguments and returns the
volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [ ]:
def vol_cone(height, radius):
  pi=22/7
  vol= (1/3)*pi*(radius**2)*height
  return round(vol,2)

vol_cone(18,0)

This Triangular Number Sequence is generated from a pattern of dots that form a triangle.
The first 5 numbers of the sequence, or dots, are:
1, 3, 6, 10, 15
This means that the first triangle has just one dot, the second one has three dots, the third one
has 6 dots and so on.

In [ ]:
def triangle(n):
  seq=1
  diff=2
  if(n==1):
      return 1
  for i in range(2,n+1):
    seq=seq+diff
    diff=diff+1

  return seq

triangle(215)

Create a function that takes a list of numbers between 1 and 10 (excluding one number) and
returns the missing number.

In [ ]:
def missing_num(lst):
  for i in range(1,11):
    if(i not in lst):
      return i

missing_num([1,2,3,5,6,7,8,9,10])