ASSIGNMENT

Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

In [ ]:
def is_reverse(num):
  temp=num
  reversed_num=0
  while(temp>0):
    i = temp%10
    reversed_num = (reversed_num*10) +i
    temp= temp//10
  if(reversed_num==num):
    return True
  return False


is_reverse(123321)

Given a string of numbers separated by a comma and space, return the product of the
numbers.

In [ ]:
def multiply(string):
  product = 1
  lst = string.split(", ")
  for i in lst:
    product=product*int(i)
  return product

multiply("1, 2, 3, 7")

Create a function that squares every digit of a number.

In [ ]:
def square(num):
  temp= str(num)
  string= ""
  for i in temp:
    string=string +str((int(i)**2))

  return int(string)

square(1234)

Create a function that sorts a list and removes all duplicate items from it.

In [ ]:
def sort_remove(lst):
  lst.sort()
  s=set(lst)

  return list(s)

sort_remove([1,2,3,3,4,3])

Create a function that returns the mean of all digits.

In [26]:
def mean(num):
  temp=num
  count=0
  sum=0
  while(temp>0):
    i = temp%10
    sum=sum+i
    count = count+1
    temp = temp//10
  
  return (sum/count)

mean(22)

2.0