Question1. Write a function that stutters a word as if someone is struggling to read it. The
first two letters are repeated twice with an ellipsis ... and space after each, and then the
word is pronounced with a question mark

In [5]:
def stutters(word):
  if(len(word)<2 and word.islower()):
     print("Enter correct input")
  else:
    repeat=word[:2]
    for i in range(2):
     print(repeat +"...",end= " ")
    print(word)

Question 2.Create a function that takes an angle in radians and returns the corresponding
angle in degrees rounded to one decimal place.

In [ ]:
def rad_to_deg(radian):
  rad_1=57.2958
  deg=radian*rad_1
  print(round(deg,1))

rad_to_deg(50)

Question 3. In this challenge, establish if a given integer num is a Curzon number. If 1 plus
2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon
number.

In [ ]:
def is_curzon(num):
  div_num=1+(2**num)
  mul_num=1+(2*num)
  if(div_num%mul_num==0):
    return True
  return False

is_curzon(10)

Question 4.Given the side length x find the area of a hexagon.

In [ ]:
import math
side = int(input("Enter side"))
area = (3*math.sqrt(3)*(side**2))/2
print(round(area,1))

Question 5. Create a function that returns a base-2 (binary) representation of a base-10
(decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10)
010101001(2) = 1 + 8 + 32 + 128.

In [24]:
def binary(num):
  power= len(num)-1
  sum=0
  for i in num:
    if(i=='1'):
      sum=sum+(2**power)
    power =power-1
    if(power<0):
      break
  return sum
binary('1010')

10